---
import Layout from '../layouts/Layout.astro';
import ContactForm from '../components/ContactForm.astro';
import Shelf from '../components/Shelf.astro';
import Offerings from '../data/offerings.json';
import { getColors, getBooksByNewStatus, getBooksByCategory } from '../utils/helpers';
const colors = getColors();
---

<Layout title="Tara's Cozy Nook" twClasses="bg-stone-800">
  <div id="form-container" class="absolute w-full transition-transform duration-700">
    <ContactForm />
  </div>

  <main id="main-container" class="transition-transform duration-700">
    <header class={`p-12 pt-4 relative flex flex-col ${colors[0].bg}`}>
      <button id="sliderButton" class="self-end btn btn-purple">Contact Us</button>
      <h1 class={`text-center tracking-tighter font-black text-4xl sm:text-6xl mt-6 mb-12 ${colors[0].fg}`}>Tara's Cozy Nook</h1>
      <nav class="mx-auto w-fit bg-orange-200 divide-yellow-900/25 rounded-2xl divide-y-4 sm:divide-y-0 divide-x-0 sm:divide-x-4 border-b-4 border-yellow-900/50 shadow-xl shadow-yellow-800/40 grid grid-cols-1 sm:grid-cols-4">
        {Object.values(Offerings).map(category => (
          <div class="flex p-4 text-center place-items-center justify-center">
            <a href={`#${category.name.replace(/\s+/g, '-').toLowerCase()}`} class="tracking-wide font-bold sm:text-lg leading-tight sm:leading-tight text-amber-950/70 hover:text-amber-900 hover:underline">{category.name}</a>
          </div>
        ))}
      </nav>
    </header>

    <Shelf
      id="new-books"
      title="🎉 New Releases 🎉"
      bgColorClass={colors[1].bg}
      fgColorClass={colors[1].fg}
      sawColorClass={colors[0].saw}
      books={getBooksByNewStatus(Offerings, true)}
      lazy={false}
    />
    
    {Object.keys(Offerings).map((categoryKey, index) => {
      const categoryData = Offerings[categoryKey];
      const bgFgColorIndex = (index + 2) % colors.length;
      const sawColorIndex = (index + 1) % colors.length;
      
      return (
        <Shelf
          id={categoryData.name.replace(/\s+/g, '-').toLowerCase()}
          title={categoryData.name}
          bgColorClass={colors[bgFgColorIndex].bg}
          fgColorClass={colors[bgFgColorIndex].fg}
          sawColorClass={colors[sawColorIndex].saw}
          books={getBooksByCategory(categoryData)}
          lazy={true}
        />
      );
    })}
  </main>
</Layout>

<script>
    window.addEventListener('load', () => {
    const formContainer = document.getElementById('form-container');
    const mainContainer = document.getElementById('main-container');
    
    // Calculate the height of the contact form container
    const contactFormHeight = formContainer.offsetHeight;
    
    // Set the initial position of the form container above the viewport by its height
    formContainer.style.top = `-${contactFormHeight}px`;
    
    let isFormVisible = false;
    
    document.getElementById('sliderButton').addEventListener('click', function() {
      if (isFormVisible) {
        // Hide the contact form
        formContainer.style.transform = `translateY(0)`;
        mainContainer.style.transform = `translateY(0)`;
      } else {
        // Show the contact form
        formContainer.style.transform = `translateY(${contactFormHeight}px)`;
        mainContainer.style.transform = `translateY(${contactFormHeight}px)`;
      }
      isFormVisible = !isFormVisible;
    });
  });
</script>

<style is:global>
	@font-face {
		font-family: 'Nunito';
		font-style: normal;
		font-weight: 200 1000;
		font-display: swap;
		src: url('/Nunito-VariableFont_wght.woff2') format('woff2');
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
	}
  .btn {
    @apply
    rounded-full px-6 py-3 tracking-wider leading-snug font-bold ring-4 ring-transparent border-b-4 cursor-pointer
    disabled:cursor-not-allowed disabled:shadow-transparent disabled:opacity-30;
  }
  .btn-purple {
    @apply
    text-white bg-violet-400 border-indigo-700/30 shadow-xl shadow-purple-600/25
    enabled:hover:ring-violet-300 enabled:hover:bg-purple-400/50 enabled:hover:border-purple-700/50;
    /* focus:ring-violet-300 focus:bg-purple-400/50 focus:border-purple-700/50; */
  }
  .btn-green {
    @apply
    text-white bg-emerald-500 border-teal-700/50 shadow-lg shadow-emerald-400/50 
    enabled:hover:bg-emerald-400 enabled:hover:border-teal-600/50 enabled:hover:ring-teal-200 
    focus:bg-emerald-400 focus:border-teal-600/50 focus:ring-teal-200;
  }
</style>
