---
import Layout from '../layouts/Layout.astro';
import ContactForm from '../components/ContactForm.astro';
import Shelf from '../components/Shelf.astro';
import Offerings from '../data/offerings.json';
import { getColors, getBooksByNewStatus, getBooksByCategory } from '../utils/helpers';
const colors = getColors();

---

<Layout title="Tara's Cozy Nook" twClasses="bg-teal-200">
  <main id="main-container" class="transition-transform duration-500">
    
    <header class={`px-4 sm:px-12 relative flex flex-col ${colors[0].bg}`}>
      <h1 class="text-indigo-50 text-center tracking-tighter font-black text-4xl sm:text-6xl mt-24 mb-12">Tara's Cozy Nook</h1>
    </header>

    <nav class="sm:sticky z-10 top-0">
      <div class="bg-violet-500 p-4 pb-6">
        <div class="flex flex-col sm:flex-row max-w-fit mx-auto rounded-xl overflow-hidden divide-y-4 sm:divide-y-0 divide-x-0 sm:divide-x-4 divide-amber-700/20 shadow-xl shadow-amber-500/50 border-b-4 border-amber-600/60 md:text-lg">
          {Object.values(Offerings).map(category => (
            <a href={`#${category.name.replace(/\s+/g, '-').toLowerCase()}`} 
            class="btn-nav
            ">{category.name}</a>
          ))}
          <a href="#contact" class="btn-nav">Contact Us</a>
        </div>   
      </div>
      <svg width="100%" height="16">
        <defs>
          <pattern id="inlinePattern" width="32" height="16" patternUnits="userSpaceOnUse" x="0">
            <polygon points="0,0 16,16 32,0" class=`${colors[0].saw}` />
          </pattern>
        </defs>
        <rect width="100%" height="16" fill="url(#inlinePattern)" />
      </svg>
    </nav>
    

    <Shelf
      id="new-books"
      title="🎉 New Releases 🎉"
      bgColorClass={colors[1].bg}
      fgColorClass={colors[1].fg}
      sawColorClass={colors[2].saw}
      books={getBooksByNewStatus(Offerings, true)}
      lazy={false}
    />
    
    {Object.keys(Offerings).map((categoryKey, index) => {
      const categoryData = Offerings[categoryKey];
      
      // Adjust the index to start from 0 for amber
      const bgFgColorIndex = (index + 2) % colors.length; // Start from 2 to get amber first
      const sawColorIndex = (index + 3) % colors.length; // Start from 3 to get fill-indigo-400 first
    
      return (
        <Shelf
          id={categoryData.name.replace(/\s+/g, '-').toLowerCase()}
          title={categoryData.name}
          bgColorClass={colors[bgFgColorIndex].bg}
          fgColorClass={colors[bgFgColorIndex].fg}
          sawColorClass={colors[sawColorIndex].saw}
          books={getBooksByCategory(categoryData)}
          lazy={true}
        />
      );
    })}

    <ContactForm />

  </main>
</Layout>

<style>
  .btn-nav {
    @apply  
    flex p-5 place-items-center justify-center text-center tracking-wide font-bold leading-none 
    hover:underline hover:bg-gradient-to-b
    text-amber-800 bg-orange-200 hover:to-orange-200 hover:from-amber-50 ;
  }
  .btn-hanging {
    @apply
    -mt-2 px-6 pt-4 pb-3 border-b-4 rounded-2xl rounded-t-xl font-semibold ;
  }
  .btn-purple {
    @apply
    text-indigo-50 hover:text-white
    bg-indigo-400 hover:bg-violet-400
    border-b-indigo-500 hover:border-b-fuchsia-600/30
    shadow-indigo-500/50 hover:shadow-purple-300/70;
  }
</style>

<script>
    window.addEventListener('load', () => {
    const formContainer = document.getElementById('form-container');
    const mainContainer = document.getElementById('main-container');
    let contactFormHeight = formContainer.offsetHeight;
    let isFormVisible = false;

    const adjustFormPosition = () => {
        contactFormHeight = formContainer.offsetHeight;
        formContainer.style.top = `-${contactFormHeight}px`;

        if (isFormVisible) {
            formContainer.style.transform = `translateY(${contactFormHeight}px)`;
            mainContainer.style.transform = `translateY(${contactFormHeight}px)`;
        } else {
            formContainer.style.transform = `translateY(0)`;
            mainContainer.style.transform = `translateY(0)`;
        }
    };

    adjustFormPosition();
    formContainer.classList.remove('invisible');

    document.getElementById('sliderButton').addEventListener('click', () => {
        isFormVisible = !isFormVisible;
        adjustFormPosition();
    });

      const debounce = (func, wait) => {
          let timeout;
          return () => {
              clearTimeout(timeout);
              timeout = setTimeout(() => func(), wait);
          };
      };

      window.addEventListener('resize', debounce(adjustFormPosition, 100));
  });
</script>

