---
import Layout from '../layouts/Layout.astro';
import ContactForm from '../components/ContactForm.astro';
import Shelf from '../components/Shelf.astro';
import Offerings from '../data/offerings.json';
import { getColors, getBooksByFeaturedStatus, getBooksByCategory } from '../utils/helpers';
const colors = getColors();

import { Image } from 'astro:assets';
import peachImage from '../assets/peach.png';
---

<Layout title="Tara's Cozy Nook" twClasses=`${colors[1].hat}`>
  <main id="main-container" class="transition-transform duration-500">
    
    <header class={` py-8 sm:py-12 px-4 sm:px-12 relative flex flex-col gap-y-3 sm:gap-y-6 ${colors[0].bg} `}>
      <Image 
        src={peachImage}
        alt="Peach logo" 
        class="mx-auto w-20 sm:w-36 h-auto rotate-3"
        width={300} 
        height={300} 
        loading="eager" 
      />
      <h1 class="text-purple-100 text-center tracking-tighter font-black text-4xl sm:text-6xl text-shadow-lg/40 text-shadow-indigo-900">Tara's Cozy Nook</h1>
    </header>

    <nav class="sm:sticky z-10 top-0 -mt-px">
      <div class={` p-4 ${colors[0].sticky} `}>
        <div class="flex flex-col sm:flex-row max-w-fit mx-auto rounded-xl overflow-hidden divide-y-4 sm:divide-y-0 divide-x-0 sm:divide-x-4 divide-[#F2BC85] border-b-[6px] border-amber-600/60 shadow-lg shadow-amber-400/30 md:text-lg">
          <a href="#featured" class="btn-nav">Featured</a>
          {Object.values(Offerings).map(category => (
            <a href={`#${category.name.replace(/\s+/g, '-').toLowerCase()}`} 
            class="btn-nav
            ">{category.name}</a>
          ))}
          <a href="#contact" class="btn-nav">Contact Us</a>
        </div>   
      </div>
      <svg width="100%" height="16">
        <defs>
          <pattern id="inlinePattern" width="32" height="16" patternUnits="userSpaceOnUse" x="0">
            <polygon points="0,0 16,16 32,0" class=`${colors[0].saw}` />
          </pattern>
        </defs>
        <rect width="100%" height="16" fill="url(#inlinePattern)" />
      </svg>
    </nav>
    

    <Shelf
      id="featured"
      title="🎉 Recommended 🎉"
      bgColorClass={colors[1].bg}
      fgColorClass={colors[1].fg}
      sawColorClass={colors[2].saw}
      books={getBooksByFeaturedStatus(Offerings, true)}
      lazy={false}
    />
    
    {Object.keys(Offerings).map((categoryKey, index) => {
      const categoryData = Offerings[categoryKey];
      
      // Adjust the index to start from 0 for amber
      const bgFgColorIndex = (index + 2) % colors.length; // Start from 2 to get amber first
      const sawColorIndex = (index + 3) % colors.length; // Start from 3 to get fill-indigo-400 first
    
      return (
        <Shelf
          id={categoryData.name.replace(/\s+/g, '-').toLowerCase()}
          title={categoryData.name}
          bgColorClass={colors[bgFgColorIndex].bg}
          fgColorClass={colors[bgFgColorIndex].fg}
          sawColorClass={colors[sawColorIndex].saw}
          books={getBooksByCategory(categoryData)}
          lazy={true}
        />
      );
    })}

    <ContactForm />

  </main>
</Layout>