---
import Layout from '../layouts/Layout.astro';
import ContactForm from '../components/ContactForm.astro';
import Shelf from '../components/Shelf.astro';
import Offerings from '../data/offerings.json';
import { getColors, getBooksByNewStatus, getBooksByCategory } from '../utils/helpers';
const colors = getColors();
---

<Layout title="Tara's Cozy Nook" twClasses="bg-stone-800">
  <div id="form-container" class="absolute w-full transition-transform duration-500 invisible">
    <ContactForm />
  </div>

  <main id="main-container" class="transition-transform duration-500">
    <header class={`px-4 sm:px-12 pt-0 pb-12 relative flex flex-col ${colors[0].bg}`}>
      <button id="sliderButton" class="self-end btn btn-hanging btn-purple text-sm sm:text-base">Contact Us</button>
      <h1 class={`text-center tracking-tighter font-black text-4xl sm:text-6xl mt-12 mb-12 ${colors[0].fg}`}>Tara's Cozy Nook</h1>

      <nav class="
        grid grid-cols-1 sm:grid-cols-4
        mx-auto rounded-2xl overflow-hidden
        divide-y-4 sm:divide-y-0 divide-x-0 sm:divide-x-4 divide-amber-800/20
        shadow-xl shadow-amber-500/50 
        border-b-4 border-amber-600/60
        md:text-lg
        ">
        {Object.values(Offerings).map(category => (
          <a href={`#${category.name.replace(/\s+/g, '-').toLowerCase()}`} 
          class="
            flex p-6 place-items-center justify-center text-center tracking-wide font-bold  leading-none 
            text-amber-950/70 hover:text-amber-900 hover:underline
            bg-orange-200 hover:bg-gradient-to-b hover:from-amber-100 hover:to-orange-200
          ">{category.name}</a>
        ))}
      </nav>

    </header>

    <Shelf
      id="new-books"
      title="🎉 New Releases 🎉"
      bgColorClass={colors[1].bg}
      fgColorClass={colors[1].fg}
      sawColorClass={colors[0].saw}
      books={getBooksByNewStatus(Offerings, true)}
      lazy={false}
    />
    
    {Object.keys(Offerings).map((categoryKey, index) => {
      const categoryData = Offerings[categoryKey];
      const bgFgColorIndex = (index + 2) % colors.length;
      const sawColorIndex = (index + 1) % colors.length;
      
      return (
        <Shelf
          id={categoryData.name.replace(/\s+/g, '-').toLowerCase()}
          title={categoryData.name}
          bgColorClass={colors[bgFgColorIndex].bg}
          fgColorClass={colors[bgFgColorIndex].fg}
          sawColorClass={colors[sawColorIndex].saw}
          books={getBooksByCategory(categoryData)}
          lazy={true}
        />
      );
    })}
  </main>
</Layout>

<style>
  .btn-hanging {
    @apply
    -mt-2 px-6 pt-4 pb-3 border-b-4 rounded-2xl rounded-t-xl font-semibold ;
  }
  .btn-purple {
    @apply
    text-indigo-50 hover:text-white
    bg-indigo-400 hover:bg-violet-400
    border-b-indigo-500 hover:border-b-fuchsia-600/30
    shadow-indigo-500/50 hover:shadow-purple-300/70;
  }
</style>

<script>
    window.addEventListener('load', () => {
    const formContainer = document.getElementById('form-container');
    const mainContainer = document.getElementById('main-container');
    let contactFormHeight = formContainer.offsetHeight;
    let isFormVisible = false;

    const adjustFormPosition = () => {
        contactFormHeight = formContainer.offsetHeight;
        formContainer.style.top = `-${contactFormHeight}px`;

        if (isFormVisible) {
            formContainer.style.transform = `translateY(${contactFormHeight}px)`;
            mainContainer.style.transform = `translateY(${contactFormHeight}px)`;
        } else {
            formContainer.style.transform = `translateY(0)`;
            mainContainer.style.transform = `translateY(0)`;
        }
    };

    adjustFormPosition();
    formContainer.classList.remove('invisible');

    document.getElementById('sliderButton').addEventListener('click', () => {
        isFormVisible = !isFormVisible;
        adjustFormPosition();
    });

      const debounce = (func, wait) => {
          let timeout;
          return () => {
              clearTimeout(timeout);
              timeout = setTimeout(() => func(), wait);
          };
      };

      window.addEventListener('resize', debounce(adjustFormPosition, 100));
  });
</script>

