---
import Layout from '../layouts/Layout.astro';
import ContactForm from '../components/ContactForm.astro';
import Shelf from '../components/Shelf.astro';
import SvgTop from '../components/SvgBorderTop.astro';
import Offerings from '../data/offerings.json';
import { getColors, getBooksByFeaturedStatus, getBooksByCategory } from '../utils/helpers';
const colors = getColors();

import { Image } from 'astro:assets';
import peachImage from '../assets/peach.png';
---

<Layout title="Tara's Cozy Nook" twClasses="bg-teal-100">
  <main id="main-container" class="transition-transform duration-500">
    
    <header class="pt-8 px-4 sm:px-12 relative flex flex-col bg-gradient-to-b from-indigo-300 to-violet-700">
      <h1 class="text-purple-100 text-center tracking-tight font-black text-4xl sm:text-6xl text-shadow-lg/40 text-shadow-indigo-900">Tara's Cozy Nook</h1>
      <div class="bg-gradient-to-b rounded-full aspect-square w-fit mx-auto mt-9 mb-3 outline outline-indigo-800 border-b-8 ring-8
        from-purple-200 to-teal-400 border-indigo-800 ring-violet-500">
        <Image 
        src={peachImage}
        alt="Peach logo" 
        class="w-24 sm:w-32 h-auto -rotate-12 scale-110 -translate-y-2 -translate-x-0.5 mx-auto hover:rotate-12 hover:translate-x-1 transition-transform"
        width={300} 
        height={300} 
        loading="eager" 
        />
      </div>
    </header>

    <nav class="sm:sticky z-10 top-0 -mt-px">
      <div class="p-4 bg-violet-700">
        <div class="flex flex-col sm:flex-row max-w-fit mx-auto rounded-xl overflow-hidden divide-y-4 sm:divide-y-0 divide-x-0 sm:divide-x-4 divide-[#F2BC85] border-b-[6px] border-amber-600/60 shadow-lg shadow-amber-400/30">
          {Object.values(Offerings).map(category => (
            <a href={`#${category.name.replace(/\s+/g, '-').toLowerCase()}`} 
            class="btn-nav"><span>{category.icon}</span>{category.name}</a>
          ))}
          <a href="#contact" class="btn-nav"><span>💬</span>Contact Us</a>
        </div>   
      </div>
      <SvgTop id='navSaw' colorClass="fill-violet-700" twClasses="-mb-px" />
    </nav>

    {[
      { 
        id: "featured", 
        title: "💕 Recommended", 
        books: getBooksByFeaturedStatus(Offerings, true), 
        lazy: false 
      },
      ...Object.keys(Offerings).map((categoryKey, index) => {
        const categoryData = Offerings[categoryKey];
        return {
          id: categoryData.name.replace(/\s+/g, '-').toLowerCase(),
          title: categoryData.name,
          books: getBooksByCategory(categoryData),
          lazy: true,
          colorIndex: index
        };
      })
    ].map((shelf, index, array) => {
      const bgFgColorIndex = index % colors.length;
      const sawColorIndex = (index + 1) % colors.length;

      return (
        <Shelf
          id={shelf.id}
          title={shelf.title}
          bgColorClass={colors[bgFgColorIndex].bg}
          fgColorClass={colors[bgFgColorIndex].fg}
          sawColorClass={index === array.length - 1 ? "fill-indigo-800" : colors[sawColorIndex].botBorder}
          books={shelf.books}
          lazy={shelf.lazy}
        />
      );
    })}

    <ContactForm />

  </main>
</Layout>