---
import Book from './Book.astro';
import SvgSawtooth from './SvgSawtooth.astro';

interface BookType {
  image: string;
  name: string;
  href: string;
}

interface Props {
  id: string;
  title: string;
  bgColorClass: string;
  fgColorClass: string;
  sawColorClass: string;
  books: BookType[];
  lazy?: boolean;
}

const { id, title, bgColorClass, fgColorClass, sawColorClass, books, lazy = true }: Props = Astro.props;
---
<article class={bgColorClass}>
  
  <section class='px-8 py-16'>
    <h2 id={id} class={`scroll-mt-6 sm:scroll-mt-32 text-2xl sm:text-4xl font-black mb-6 ${fgColorClass}`}>{title}</h2>
    <ul class='gap-16 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4'>
      {books.map((book: BookType) => (
        <li>
          <Book
            imagePath={book.image}
            bookName={book.name}
            storePage={book.href}
            lazy={lazy}
          />
        </li>
      ))}
    </ul>
  </section>
  
  <SvgSawtooth id={`sawtoothPattern${id}`} colorClass={sawColorClass} twClasses="mb-[-1px]" />

</article>
